<% if object.errors.any? %>
  <div>
  <div>
    The form contains <%= pluralize(object.errors.count, "error") %>.
  </div>
  <% object.errors.full_messages.each do |msg| %>
    <ul>
    <li><%= msg %></li>
  </ul>
<% end %>
</div>
<% else%>
<% end %>
