<% if object.errors.any? %>
  <div class="flash_messages_of_errors">
    <h4>
    The form contains <%= pluralize(object.errors.count, "error") %>.
    </h4>
  <% object.errors.full_messages.each do |msg| %>
    <ul>
    <li><%= msg %></li>
  </ul>
<% end %>
</div>
<% else%>
<% end %>
