<div class="input-group">
  <%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <span class="input-group-btn">
    <%= f.text_field :content, placeholder: "New todo item", class: "form-control" %>
      <%= f.submit "create", class: "btn btn-default" %>
    </span>
  <% end %>
</div>
